.input {
    font-size: 16px;
    padding: 10px 15px;
    border: 2px solid #0da731;
    outline: none !important;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    height: 39px;
    background: transparent;
}
